@CHARSET "UTF-8";
body {
background-image: url(../images/359389.jpg); 

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center !important;
background-repeat: no-repeat !important;
background-attachment: fixed;
}